/*header with logo img on the left and buttons on the right*/
ul {
  margin: 0;
  padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#bodyContainer {
    position: relative;
    min-height: 100%;
    background-color: #dddfdf;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    z-index: 1;
}
.content {
    position: relative;
    background-color: rgba(0,0,0,0.1);
    padding: 1vh 7% 3vh 7%;
    margin-bottom: 7vh;
}
h1 {
    text-shadow: 1px 1px 1px black;
}
h2, h3, caption {
    color: rgba(255,120,5, 0.9);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

a {
    text-decoration: none;
}
@media only screen and (max-width: 500px) {
    .content {
        padding: 1vh 3% 3vh 3%;
    }
}

/*navigation*/
.nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    padding-left: 4%;
    padding-right: 4%;
}
#logo {
    vertical-align: middle;
    width: 15%;
}
.nav img, nav ul {
    display: inline;
}
.navBtnList li{
    display: inline;
}
.navBtn {
    padding: 1.5vh 5% 1.5vh 5%;
    color: black;
    border-top: 1px solid #999DA3;
    border-bottom: 1px solid #999DA3;
}
.navBtn:hover {
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
    background-color: #999DA3;
    color: rgb(255,120,5);
}
.navActive {
    color: rgb(255,120,5);
}

@media only screen and (max-width: 500px) {
    .nav {
        padding: 0;
    }
    #logo {
        position: fixed;
        z-index: -1;
        top: 25vh;
        left: 0;
        width: 100%;
        opacity: 0.1;
    }
    .navBtn {
        display: block;
        font-size: 8vh;
        width: 100%;
        height: 9vh;
        color: black;
        padding: 0.5vh 0 0.5vh 0;
        border-top: none;
    }
    .navActive {
        background-color: #999DA3;
        color: rgb(255,120,5);
        opacity: 0.7;
    }
}

/*header*/
header {
    display: inline-block;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    border-bottom: 1px solid #999DA3;
}
header h1 {
    color: black;
    padding-left: 5%;
    font-weight: 300;
}
@media only screen and (max-width: 500px) {
    header {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/*content*/
main {
    width: 60%;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.7em;
}
main h2 {
    font-weight: 300;
}
@media only screen and (max-width: 500px) {
    main {
        margin: 10px 0 0 0;
        width: 100%;
    }
}

/*background ornaments*/
#fancyBckgrnd {
    position: absolute;
    bottom: 0vh;
    left: 0px;
    width: 60%;
    height: auto;
    z-index: -10;
}
#fancyBckgrnd2 {
    position: absolute;
    top: 0vh;
    right: 0px;
    height: 100%;
    width: auto;
    z-index: -10;
}
@media only screen and (max-width: 500px) {
    #fancyBckgrnd2 {
        display: none;
    }
}

/*footer*/
#footerWrapper {
    font-size: 10px;
    position: absolute; 
    bottom: 5px;
    right: 3%;
    color: rgba(0,0,0,0.5);
}
/*gallery*/
#gallCol1-2L, #gallCol2-2R {
    vertical-align: middle;
    display: inline-block;
}
#gallCol1-2L {
    position: relative;
    height: auto;
    width: 77%;
    border-right: 1px solid #999DA3;
    padding-right: 1%;
    z-index: 3;
}
#imgCurrent {
    height: 100%;
    transition: all .2s ease-in-out;
    border: 1px solid #999DA3;
}
#imgCurrent:hover {
    transform: scale(1.4);
}
#gallCol2-2R {
    position: relative;
    height: 75vh;
    width: 20%;
    margin-left: 1%;
    overflow: hidden;
    z-index: 2;
    border: 1px solid #999DA3;
}
#arrowUp {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0px;
    height: 35px;
    width: 100%;
    text-align: center;
    background-color: rgba(255,120,5,0.4);
}
#arrowUp img {
    height: 100%;
    width: auto;
}
#arrowDown {
    z-index: 1000;
    position: absolute;
    bottom: 0px;
    height: 35px;
    width: 100%;
    text-align: center;
    background-color: rgba(255,120,5,0.4);
}
#arrowDown img {
    height: 100%;
    width: auto;
}
#arrowUp:hover, #arrowDown:hover {
    background-color: rgba(255,120,5,0.8);
}

#gallCol2-2R .imgBarPic {
    vertical-align: middle;
    position: relative;
    top: 0px;
    width:100%;
}
#gallCol2-2R .imgBarPic:hover {
    transition: all .2s ease-in-out;
    -webkit-filter: contrast(1.2);
}
@media only screen and (max-width: 500px) {
    #gallCol1-2L {
        display: none;
    }
    #gallCol2-2R {
        width: 100%;
        margin: 0;
        height: auto;
        border: none;
    }
    .imgBarPic {
        margin-top: 1vh;
    }
    #arrowUp, #arrowDown {
        display: none;
    }
}

/*contact*/
#contactCol1-2L, #contactCol2-2R {
    display: inline-block;
    vertical-align: middle;
}
#contactCol1-2L {
    position: relative;
    width: 49%;
    border-right: 1px solid #999DA3;
}
#contactCol2-2R {
    position: relative;
    width: 50%;
}
#addrWrapper, #hoursWrapper {
    padding-left: 10%;
    margin-top: 3vh;
}
#addrWrapper td, #hoursWrapper td {
    padding-left: 7px;
    padding-right: 7px;
}
#addrWrapper caption, #hoursWrapper caption {
    text-align: left;
    font-weight: bold;
}
@media only screen and (max-width: 500px) {
    #contactCol1-2L, #contactCol2-2R {
        display: inline;
        border: none;
    }
    #addrWrapper, #hoursWrapper {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

/*aboutUs*/
#about h2 {
    margin-bottom: 5vh;
}
#about h3 {
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
}
#about ul {
    margin-left: 5%;
}

/*home*/
#p0 {
    margin-left: 2%;
}
#p1 {
    margin-left: 7%;
}
#p2 {
    margin-left: 11%;
}
#p3 {
    margin-left: 14%;
}
#p4 {
    margin-left: 18%;
}
#p5 {
    margin-left: 23%;
}
@media only screen and (max-width: 500px) {
    #p0, #p1, #p2, #p3, #p4, #p5 {
        margin-left: 3%;
    }
}

/*offer*/
#offerList {
    padding-left: 5%;
}