/*header with logo img on the left and buttons on the right*/

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

a {
    text-decoration: none;
}

#standardNav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    margin-top: 20px;
    padding-left: 4%;
    padding-right: 4%;
}
#standardNav img {
    vertical-align: middle;
    width: 15%;
}
#standardNav ul {
    width: 85%;
}
#standardNav img, ul {
    display: inline;
}
.standardNavBtnList li{
    display: inline;
}
.navBtn {
    padding: 10px 5% 10px 5%;
    background-color: black;
    color: white;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
}
.navBtn:hover {
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
    background-color: yellow;
    color: black;
}

.navActive {
    color: yellow;
}

/*smartphone nav*/

/*header*/
header {
    display: inline-block;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    border-bottom: 1px solid yellow;
    color: white
}
header h1 {
    padding-left: 5%;
}

/*content*/

main {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

/*gallery*/
#gallCol1-2L, #gallCol2-2R {
    vertical-align: middle;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#gallCol1-2L {
    position: relative;
    width: 77%;
    border-right: 1px solid yellow;
    padding-right: 1%;
}

#gallCol2-2R {
    position: relative;
    height: 575px;
    width: 20%;
    margin-left: 1%;
    overflow: hidden;
}

#arrowUp {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0px;
    height: 35px;
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,0,0.4);
}
#arrowUp img {
    height: 100%;
    width: auto;
}

#arrowDown {
    z-index: 1000;
    position: absolute;
    bottom: 0px;
    height: 35px;
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,0,0.4);
}
#arrowDown img {
    height: 100%;
    width: auto;
}

.imgBarPic {
    vertical-align: middle;
}


#arrowUp:hover, #arrowDown:hover {
    background-color: rgba(255,255,0,0.8);
}

.imgBarPic {
    position: relative;
    top: 0px;
    width:100%;
}
.imgBarPic:hover {
    -webkit-filter: contrast(1.2);
}



/*footer*/
#footerWrapper {
    /*change*/
    position: fixed; 
    bottom: 10px;
    left: 6%;
}