/*header with logo img on the left and buttons on the right*/
ul {
  margin: 0;
  padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#bodyContainer {
    position: relative;
    min-height: 100%;
    background-color: #dddfdf;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    z-index: 1;
}

.content {
    position: relative;
    background-color: rgba(0,0,0,0.1);
    padding: 1vh 7% 3vh 7%;
}

h1 {
    text-shadow: 1px 1px 1px black;
}
h2, h3, caption {
    color: rgba(255,120,5, 0.9);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

a {
    text-decoration: none;
}

/*navigation*/
.standardNav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    padding-left: 4%;
    padding-right: 4%;
}
.standardNav img {
    vertical-align: middle;
    width: 15%;
}
.standardNav ul {
    width: 85%;
}
.standardNav img, .standardNav ul {
    display: inline;
}
.standardNavBtnList li{
    display: inline;
}
.standardNavBtn {
    padding: 10px 5% 10px 5%;
    color: black;
    border-top: 1px solid #999DA3;
    border-bottom: 1px solid #999DA3;
}
.standardNavBtn:hover {
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
    background-color: #999DA3;
    color: rgb(255,120,5);
}

.navActive {
    color: rgb(255,120,5);
}

/*smartphone nav*/
.smartphoneNav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;

}
.smartphoneNav img {
    display: none;
}


.smartphoneNavBtnList li{
    display: block;
    border-bottom: 1px solid #999DA3;
    padding: 0;
    margin: 0;
}
.smartphoneNavBtn {
    display: block;
    font-size: 8vh;
    width: 100%;
    height: 10vh;
    color: black;
}
.smartphoneNavBtnList li:active {
    background-color: #999DA3;
}

.navActive {
    background-color: #999DA3;
    color: rgb(255,120,5);
}

/*header*/
header {
    display: inline-block;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    border-bottom: 1px solid #999DA3;
}
header h1 {
    color: black;
    padding-left: 5%;
    font-weight: 300;
}

/*content*/
main {
    width: 60%;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.7em;
}
main h2 {
    font-weight: 300;
}

/*background ornaments*/
#fancyBckgrnd {
    position: absolute;
    bottom: 0vh;
    left: 0px;
    width: 60%;
    height: auto;
    z-index: -10;
}
#fancyBckgrnd2 {
    position: absolute;
    top: 0vh;
    right: 0px;
/*    width: 60%;*/
    height: 100%;
    width: auto;
    z-index: -10;
}

/*footer*/
#footerWrapper {
    position: absolute; 
    bottom: 1%;
    right: 3%;
    color: rgba(0,0,0,0.5);
}

/*gallery*/
#gallCol1-2L, #gallCol2-2R {
    vertical-align: middle;
    display: inline-block;
}

#gallCol1-2L {
    position: relative;
    height: auto;
    width: 77%;
    border-right: 1px solid #999DA3;
    padding-right: 1%;
    z-index: 3;
}

#imgCurrent {
    height: 100%;
    transition: all .2s ease-in-out;
    border: 1px solid #999DA3;
}

#imgCurrent:hover {
    transform: scale(1.4);
}

#gallCol2-2R {
    position: relative;
    height: 75vh;
    width: 20%;
    margin-left: 1%;
    overflow: hidden;
    z-index: 2;
}

#arrowUp {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0px;
    height: 35px;
    width: 100%;
    text-align: center;
    background-color: rgba(255,120,5,0.4);
}
#arrowUp img {
    height: 100%;
    width: auto;
}

#arrowDown {
    z-index: 1000;
    position: absolute;
    bottom: 0px;
    height: 35px;
    width: 100%;
    text-align: center;
    background-color: rgba(255,120,5,0.4);
}
#arrowDown img {
    height: 100%;
    width: auto;
}

#arrowUp:hover, #arrowDown:hover {
    background-color: rgba(255,120,5,0.8);
}

.imgBarPic {
    vertical-align: middle;
    position: relative;
    top: 0px;
    width:100%;
}
.imgBarPic:hover {
    transition: all .2s ease-in-out;
    -webkit-filter: contrast(1.2);
}

/*contact*/

#contactCol1-2L, #contactCol2-2R {
    display: inline-block;
    vertical-align: middle;
}
#contactCol1-2L {
    position: relative;
    width: 49%;
    border-right: 1px solid #999DA3;
}
#contactCol2-2R {
    position: relative;
    width: 50%;
}

#addrWrapper, #hoursWrapper {
    padding-left: 10%;
    margin-top: 3vh;
}
#addrWrapper td, #hoursWrapper td {
    padding-left: 7px;
    padding-right: 7px;
}
#addrWrapper caption, #hoursWrapper caption {
    text-align: left;
    font-weight: bold;
}

/*aboutUs*/
#about h2 {
    margin-bottom: 5vh;
}
#about h3 {
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
}
#about ul {
    margin-left: 5%;
}

/*home*/
#p0 {
    margin-left: 2%;
}
#p1 {
    margin-left: 7%;
}
#p2 {
    margin-left: 11%;
}
#p3 {
    margin-left: 14%;
}
#p4 {
    margin-left: 18%;
}
#p5 {
    margin-left: 23%;
}

/*offer*/
#offerList {
    padding-left: 5%;
}